/* style.css */



body{
  margin:0;
  background-color:rgb(189, 241, 189);
}

.game-container{
display:flex;
flex-direction: column;
align-items: center;
gap:15px;
height:100vh

}
td {
  color: white; 
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);

}

.buttons{
text-align:center



}
.board-container {
  width: 30rem;
  height: 10rem;
  margin:0;
  display: flex;
  flex-direction: column;
}

table{
  background-color: rgba(167, 242, 197, 0.391);
  padding:padding 0.9rem;
  overflow: hidden;
  border-radius: 20px;

}

.cellClicked {
  height: 4rem;
  width: 4rem;
  text-align: center;
  background-color: rgba(43, 187, 100, 0.391);
  border-radius: 50px;
  
}
  
.cellClicked:hover{
  transform: translateY(-0.1rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0 , 0, 0.10);

}

  
  
.game-start-container{
display:flex;
flex-direction: column;
 align-items: center;

}

.btn{
    width: 5rem;
    height: 3rem; /* Adjust the height as needed */
    border-radius: 40px;
    background-color: rgba(116, 207, 153, 0.391);
    margin-top: 1rem;
    padding: 0rem 1rem; /* Smaller padding to center the text horizontally */
    text-align: center;
    border: 0.1px solid grey;
    color: white; 
    font-size: 0.8rem;
   text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  }

    .made-by {
      margin-top: 1rem;
      padding: 5px; 
      background-color: rgba(22, 177, 84, 0.391);
      border-radius: 4rem;
      width: 10rem;
      text-align: center;
      display: inline-block;
      color:white;
      font-size: 1rem;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  }
  






